.header {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  background: rgba(15, 23, 42, 0.9);
  border-radius: 12px;
  margin-bottom: 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Общие стили для строк */
.topRow,
.middleRow,
.bottomRow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

/* Стили для верхней строки */
.topRow {
  padding-top: 5px;
}

.storeName {
  color: #f8fafc;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

/* Стили для средней строки */
.middleRow {
  gap: 20px;
  padding: 2px 0;
}

.infoButton {
  background: transparent;
  color: #f8fafc;
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 6px;
  transition: background 0.3s;
}

.infoButton:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Стили для нижней строки */
.bottomRow {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.leftSection,
.rightSection {
  flex: 1;
}

.burgerButton {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #1e293b;
  color: #f8fafc;
  padding: 6px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;
  width: fit-content;
}

.burgerButton,
.cartButton {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #1e293b;
  color: #f8fafc;
  padding: 6px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;
  width: 120px; /* Фиксированная ширина */
  height: 40px; /* Фиксированная высота */
}

.burgerButton:hover,
.cartButton:hover {
  background: #2d3b51;
}

.cartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #1e293b;
  color: #f8fafc;
  padding: 6px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;
  margin-left: auto;
}

.cartButton:hover {
  background: #2d3b51;
  transform: scale(1.05);
}

