.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: rgba(52, 56, 62, 0.9);
  padding: 15px;
  border-radius: 12px;
  height: min-content;
}

.label {
  color: #f8fafc;
  font-weight: 500;
  font-size: 16px;
}

.select {
  background: rgba(33, 35, 38, 0.9);
  color: #f8fafc;
  border: 1px solid #475569;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  min-width: 200px;
}

.select:focus {
  outline: none;
  border-color: #818cf8;
}